/*
* {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
}
*/
div, footer {
   
    font: normal 400 12pt Arial;
	bo4rder: 1px solid black;
}
body {
    background: url(../img/background.jpg) fixed #ECEEE9;
    color: #555;
    font-family: Verdana, Arial, sans-serif;
    margin:0;
	
}

::selection{
	background: #7cd693;
    color: #000;
}

#main_content{
	background: #FFFFFF;
}

#h1main {
    font-weight: 100;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}






p {
    line-height: 25px;
    font-size: 15px;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5,h6 {
    text-transform: uppercase;
    color: #494949;
    font-weight: 700;
    margin-bottom: 12px;
}

h5 {
    font-size:14px;
}

.logo {
	
    background-color: #bbb;
    border-bottom: 5px solid #ccc;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    pa4dding: 30px 55px 10px;
    position: absolute;
	
}

.logo:hover {
    border-bottom-color: #A534B9;
}

#header {
    background: #FFFFFF;
}


#nav {
    height: 75px;
/*    background: #222;*/
}

#navul {
    float: right;
}

#imghead{
	margin:0 15% 0 15%;
	width: 70%;
	height: 100%;
}

#andhead{
	margin:0 15% 0 15%;
	width: 70%;
	height: 70px;
	background: #E9E9E9;
}

#fb, #tv {
		float: right;
		margin-top: -10px;
    margin-right: 500px;
		padding-top:0px;
		padding-right:3px;
}
#fb{
    padding-right:3%;

}

#inf1, #inf2, #inf3{
	float: left;
	margin:10px;
	padding-top:18px;
	color: #A534B9;
	font-family: Georgia, 'Times New Roman', Times, serif;
}


#mainall {
min-height: 30px;
margin-bottom: 10px;
}

#main1, #main2, #main3{ 
	color: #9838A1;
	float: left;
	width: 15%;
	height: 20px;
	border: 2px solid #9838A1;
	margin:-1px;
	padding: 4px;
	border-radius: 2%;
}



#upfooter{
	height: 600px;
}

.navli {
   
    display: inline-block;
    height: auto;
    text-transform: uppercase;
    align-content: center;
    font-size: 12px;
    font-weight: 700;
	
}

.navli a {
    padding: 0 12px;
    margin: -2px;
    display: block;
    color: #ddd;
    text-decoration: none;
    line-height: 75px;
    transition: 0.4s;
}

.navli a:hover {
    color: #000;
    margin: 0px;
    text-decoration: none;
    line-height: 50px;
    background: #7848b4;
    box-shadow: inset 0 0 12px 0 #999;
/*    transform: translateY(2px);*/
    border-right: 1px solid rgba(255,255,255,.5);  
    border-left: 1px solid rgba(255,255,255,.5);
	border-radius: 7%;
}


.search {
    width: 200px; 
   }

#Exit {

    float:right;
    display: inline-block;
    height: 40px;
    text-transform: uppercase;
    align-content: center;
    font-size: 12px;
    
}

    #Exit a {
    padding: 0 12px;
    margin: -2px;
    display: block;
    color: #ddd;
    text-decoration: none;
    line-height: 75px;
    transition: 0.4s;
    
    }

    #Exit :hover {
    color: #000;
    margin-top:10px;
    line-height: 50px;
    text-decoration: none;
  background: #7848b4;
    box-shadow: inset 0 0 12px 0 #999;
/*    transform: translateY(2px);*/
    border-right: 1px solid rgba(255,255,255,.5);  
    border-left: 1px solid rgba(255,255,255,.5);
	border-radius: 7%;
    }

#input {
    width:200px;
    border:3px solid #7848b4;
    border-radius: 15%;
    background:;
    margin-left:30px;
    margin-top:30px;
}


#head1 {
    
width:100px;
height:20px;
text-align: center; 
}

#bod {
    
   
    margin: 0 15% 0 15%;
    width: 70%;
    height: 700px;
    background: #ffffff
}
#bod1 {
    
   
    margin: 0 2% 0 2%;
    width: 96%;
    height: 1200px;
    background: #ffffff
}
#bod2 {
    opacity: 0.7;
    margin: 0 10% 0 10%;
    width: 80%;
    height: 1200px;
    background: #6A5ACD;
}

#manage {
     margin: 0 15% 0 15%;
    width: 70%;
    
}

#manage2 {
margin: 0 15% 0 15%;
    width: 70%;
    text-align: center;
}


.legend {
    
text-align:center;
padding: 0;
padding-top: 15px;
margin-bottom: 20px;
font-size: 21px;
line-height: inherit;
color: #333;
border: 0;
border-bottom: 1px solid #e5e5e5;
}

.btn {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align:center;
    height: 30px;
    b4order:3px solid #7848b4;
    border-radius: 15%;
    background:;
    margin-left:35px;
    margin-top:20px;
    
}

#img_header {
height:150px;
}

#glob_carusel{

    
    width:100%;
    height:200px;
}

#carusel {
    float:left;
height:190px;
width:70%;
}

#blurb {
float:right;
height:190px;
width:28%;

}
#glob_category {
    margin-left: 5px;
    float: right;
    width:28%;
}

#upkat {
 float:right;
 width:100%;
}
#glob_article {
    float:left;
    width:70%;
    margin-right: 5px;
}

#footer_item {
height:75px;
margin-bottom:20px;
}

.Statiy {
margin-top:15px;
margin-bottom:15px;
text-align:center;
}

#New_article {
float:right;
width:30%;

text-align:center;
margin-top:px;

}

.Article {
margin:10px;
padding:10px;
text-align:center;
width:30%;
margin-left:35%;

}

#head_article {
background: #CCCCCC;

}
#img_article {
width:60px;
height:60px;
float:left;
margin-top:px;

}

.item2 {

    margin:10px;
    width:90%;
position: relative;
display: block;
padding: 10px 15px;
margin-bottom: -1px;

border: 1px solid #ddd;
}

.item {
    background:#6699FF;
    margin:10px;
position: relative;
display: block;
padding-top: 20px;
padding-bottom: 20px;

background-color: #fff;
border: 1px solid #ddd;
}

.remove {
    position: relative;
display: block;
padding: 10px 15px;
margin-bottom: -1px;
background-color: #fff;
border: 1px solid #ddd;
}

.pencil {
    position: relative;
display: block;
padding: 10px 15px;
margin-bottom: -1px;
background-color: #fff;
border: 1px solid #ddd;
}

.play {
position: relative;
top: 1px;
display: inline-block;
font-family: 'Glyphicons Halflings';
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased
}

#category {
text-align:center;
padding:20px;
}

#img_category {
width:60px;
height:60px;
float:left;
}

.fa {
position: relative;
display: block;
padding: 10px 15px;
margin-bottom: -1px;

b4order: 1px solid #ddd;
}

#fild_category {

}

form {
 display: inline-block;
 /*line-height:100px;*/

}
.main_col {
    width: 68%;   
    margin: 0 auto;    
}




#line {
	margin-top: 7%;
	margin-bottom: 30px;
}
#seeline{
	float: right;
}





.clear{
    clear: both;
}

/*----------------------------------------------------*/



h5{
color: #730F7C;
}

img {
    width: 100%;
    margin-bottom: 15px;
}

#linkslist {
    text-align: center;
    margin: 0 auto;
    height: 50px;
}




#wrap_nav {
    background: #1c1c1c; /* Old browsers */
    background: -moz-linear-gradient(top,  #1c1c1c 0%, #292929 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c1c1c), color-stop(100%,#292929)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1c1c1c 0%,#292929 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1c1c1c 0%,#292929 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1c1c1c 0%,#292929 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1c1c1c 0%,#292929 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#292929',GradientType=0 ); /* IE6-9 */
    border-bottom: 1.5px solid #3a3a3a;
}






.tags:hover, .comments:hover, .h2jor:hover {
    text-decoration: underline;
    color: #3ba;
}

.h2jor {
    font-size: 14px;
}

.counter {
    color: #df9d9d;
    font-weight: bold;
}


.editor-label {
    height:50px;

}

.editor-field {
    height:50px;
}

#errmas {
    
    margin-bottom:20px;
}
#input_back {
padding:40px;
}

#butsave {
text-align:center;
margin-left: -30px;
}

#editArticlebut {
margin-top: 20px;
margin-bottom:10px;

}