/*
* {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
}
*/
div, footer {
   
    font: normal 400 12pt Arial;
	bo3rder: 1px solid black;
}
body {
    background: url(../img/background.jpg) fixed #ECEEE9;
    color: #555;
    font-family: Verdana, Arial, sans-serif;
    margin:0;
	
}

::selection{
	background: #7cd693;
    color: #000;
}

#main_content{
	background: #FFFFFF;
}

#h1main {
    font-weight: 100;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}






p {
    line-height: 25px;
    font-size: 15px;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5,h6 {
    text-transform: uppercase;
    color: #494949;
    font-weight: 700;
    margin-bottom: 12px;
}

h5 {
    font-size:14px;
}

.logo {
	
    background-color: #bbb;
    border-bottom: 5px solid #ccc;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    pa4dding: 30px 55px 10px;
    position: absolute;
	
}

.logo:hover {
    border-bottom-color: #A534B9;
}

#header {
    background: #FFFFFF;
}


#nav {
    height: 75px;
/*    background: #222;*/
}

#navul {
    float: right;
}

#imghead{
	margin:0 15% 0 15%;
	width: 70%;
	height: 100%;
}

#andhead{
	margin:0 15% 0 15%;
	width: 70%;
	height: 70px;
	background: #E9E9E9;
}

#fb, #tv {
		float: right;
		margin-top: -10px;
        margin-right: 500px:
		padding-top:0px;
		padding-right:3px;
}
#fb{
    padding-right:3%;

}

#inf1, #inf2, #inf3{
	float: left;
	margin:10px;
	padding-top:18px;
	color: #A534B9;
	font-family: Georgia, 'Times New Roman', Times, serif;
}


#mainall {
min-height: 30px;
margin-bottom: 10px;
}

#main1, #main2, #main3{ 
	color: #9838A1;
	float: left;
	width: 15%;
	height: 20px;
	border: 2px solid #9838A1;
	margin:-1px;
	padding: 4px;
	border-radius: 2%;
}



#main1, #main2, #main3 :h7over {
	cursor: pointer;
    color: #FFFFFF;
	background: #9838A1; 
}

#upfooter{
	height: 600px;
}

.navli {
   
    display: inline-block;
    height: auto;
    text-transform: uppercase;
    align-content: center;
    font-size: 12px;
    font-weight: 700;
	
}

.navli a {
    padding: 0 12px;
    margin: -2px;
    display: block;
    color: #ddd;
    text-decoration: none;
    line-height: 75px;
    transition: 0.4s;
}

.navli a:hover {
    color: #000;
    margin: 0px;
    text-decoration: none;
    line-height: 50px;
    background: #7848b4;
    box-shadow: inset 0 0 12px 0 #999;
/*    transform: translateY(2px);*/
    border-right: 1px solid rgba(255,255,255,.5);  
    border-left: 1px solid rgba(255,255,255,.5);
	border-radius: 7%;
}


.search {
    width: 200px; 
   }

#Exit {

    float:right;
    display: inline-block;
    height: 40px;
    text-transform: uppercase;
    align-content: center;
    font-size: 12px;
    
}

    #Exit a {
    padding: 0 12px;
    margin: -2px;
    display: block;
    color: #ddd;
    text-decoration: none;
    line-height: 75px;
    transition: 0.4s;
    
    }

    #Exit :hover {
    color: #000;
    margin-top:10px;
    line-height: 50px;
    text-decoration: none;
  background: #7848b4;
    box-shadow: inset 0 0 12px 0 #999;
/*    transform: translateY(2px);*/
    border-right: 1px solid rgba(255,255,255,.5);  
    border-left: 1px solid rgba(255,255,255,.5);
	border-radius: 7%;
    }

#input {
    width:200px;
    border:3px solid #7848b4;
    border-radius: 15%;
    background:;
    margin-left:30px;
    margin-top:30px;
}


#head1 {
    
width:100px;
height:20px;
text-align: center; 
}
#bod {
    margin: 0 15% 0 15%;
    width: 70%;
    height: 700px;
    background: #ffffff
}

#manage {
     margin: 0 15% 0 15%;
    width: 70%;
    
}

#manage2 {
margin: 0 15% 0 15%;
    width: 70%;
    text-align: center;
}


.legend {
    
text-align:center;
padding: 0;
padding-top: 15px;
margin-bottom: 20px;
font-size: 21px;
line-height: inherit;
color: #333;
border: 0;
border-bottom: 1px solid #e5e5e5;
}

.btn {

    
    height: 30px;
    b4order:3px solid #7848b4;
    border-radius: 15%;
    background:;
    margin-left:30px;
    margin-top:30px;
}
#kat {
    margin-left: 5px;
    float: left;
    width:28%;
}

#upkat {
 float:left;
 width:100%;
}

#footer_item {
height:75px;
margin-bottom:20px;
}

.Statiy {
margin-top:15px;
margin-bottom:15px;
text-align:center;
}

#stat {
    float:right;
    width:70%;
    margin-right: 5px;
}

.item {
position: relative;
display: block;
padding: 10px 15px;
margin-bottom: -1px;
background-color: #fff;
border: 1px solid #ddd;
}

.remove {
    position: relative;
display: block;
padding: 10px 15px;
margin-bottom: -1px;
background-color: #fff;
border: 1px solid #ddd;
}

.pencil {
    position: relative;
display: block;
padding: 10px 15px;
margin-bottom: -1px;
background-color: #fff;
border: 1px solid #ddd;
}

.play {
position: relative;
top: 1px;
display: inline-block;
font-family: 'Glyphicons Halflings';
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased
}

.headkat {
position: relative;
display: block;
padding: 10px 15px;
margin-bottom: -1px;
background-color: #fff;
border: 1px solid #ddd;
}

.fa {
position: relative;
display: block;
padding: 10px 15px;
margin-bottom: -1px;
background-color: #fff;
b4order: 1px solid #ddd;
}


form {
 display: inline-block;
 /*line-height:100px;*/

}
.main_col {
    width: 68%;   
    margin: 0 auto;    
}







.box_left3 {
    float: left;
    width: 30%;
    margin-right: 4.6%;
}

.box_left3 a{

}

.box_left3 a :hover{
background-color: #000;
filter: progid: DXImageTransform.Microsoft.Alpha(opacity=40);
    -moz-opacity: 0.4;    /* Mozilla 1.6 è íèæå */
    -khtml-opacity: 0.4;  /* Konqueror 3.1, Safari 1.1 */
    opacity: 0.4;         /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +,
                             Safari 1.2+, Opera 9 */
    filter: alpha(opacity=40); /* IE 5.5+*/

}

.box_right3 {
    float: right;
    width: 30%;
}

#line {
	margin-top: 7%;
	margin-bottom: 30px;
}
#seeline{
	float: right;
}

.box_post_left2 {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.box_post_right2 {
    float: right;
    width: 48%;
    overflow: hidden;
    height: 100%;
}





.clear{
    clear: both;
}

/*----------------------------------------------------*/

#footer_primary {
    padding: 10px 0 0;
    color: #fff;
    background: #333;
    
}

#footer_secondary {
    margin-top: 10px;
    padding: 10px 0 ;
    height: 40px;
    background: #222;
/*    border: 1px solid #000;*/
    color: #fff;
}

#copyright {
    float: left;
    padding: 10px 0 0;
    height: 100%;
    font-size: 13px;
    color: #bdbdbd;
}

#social_links {
    float: right;
    padding: 3px;
}

.links {
    display: inline-block;
    margin: 0 -2px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px;
}

li.links a {
    width: 100px;
    display: block;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    height: 100%;
    color: #555;
}

.preamble {
    font-size: 17px;
    margin-bottom: 25px;
    line-height: 25px;
    word-spacing: 2px;
}

p.preamble {
    font-size: 12px;
    margin-bottom: 15px;
    line-height: 25px;
	color: #970BA4;
}

h5{
color: #730F7C;
}

img {
    width: 100%;
    margin-bottom: 15px;
}

#linkslist {
    text-align: center;
    margin: 0 auto;
    height: 50px;
}

.bigLetter {
    display: block;
    text-transform: uppercase;
    float: left;
    font-size: 50px;
    font-weight: 700;
    padding: 0px 5px 0px 0px;
}

.rhtborder {
     border-right: 1px solid #999;   
}
.botborder {
    border-bottom: 1px solid #b6b6b6;  
}
.lftborder {
    border-left: 1px solid #b6b6b6; 
}

.h100 {
    display: block;
    width: 100%;
    height: 100%;
}

.m50p20bot {
    padding-bottom: 20px;
    margin-bottom: 45px;   
}

.m40top {
    margin-top: 40px;   
}

.layout {
    min-height: 100px;
    margin-bottom: 10px;
}

#wrap_nav {
    background: #1c1c1c; /* Old browsers */
    background: -moz-linear-gradient(top,  #1c1c1c 0%, #292929 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c1c1c), color-stop(100%,#292929)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1c1c1c 0%,#292929 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1c1c1c 0%,#292929 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1c1c1c 0%,#292929 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1c1c1c 0%,#292929 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#292929',GradientType=0 ); /* IE6-9 */
    border-bottom: 1.5px solid #3a3a3a;
}

.nbsp {
    margin: 15px 0;
}

.left_sect {
    float: left;
    width: 15%;
/*    border: 1px solid #111;*/
}

.right_sect {
    float: left;
    width: 80%;
    padding-left: 4%;
}


.likes {
    width: 30px;
    margin: 0 auto;
    padding: 15px 0 0;
    cursor: pointer;
/*    background: 1px solid #111;*/
}

.date {
    text-align: center;
    padding: 15px 0;
/*    border: 1px solid #111;*/
} 

.tags, .comments {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 10px;
    color: #3ba;
}

.numdate {
    font-weight: 700;
    font-size: 26px;
}

.namemonth {
    font-size: 16px;
    text-transform: uppercase;
}


.tags:hover, .comments:hover, .h2jor:hover {
    text-decoration: underline;
    color: #3ba;
}

.h2jor {
    font-size: 14px;
}

.counter {
    color: #df9d9d;
    font-weight: bold;
}

.links a:hover {
    color: #3ba;
    text-decoration: underline;
}

#textimg01 {
    padding: 10px;
    background: rgba(0,0,0,.7);
    text-transform: uppercase;
    color: #ddd;
    font-weight: 18px;
    position: absolute;
    top: 74%;
    left: 33%;
}


#textimg02 {
    padding: 10px;
    background: rgba(0,0,0,.7);
    text-transform: capitalize;
    color: #ddd;
    font-weight: 18px;
    position: absolute;
    top: 59%;
    left: 51%;
}

.foot_col_name {
    color: #3ba;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
}

.lgt_bot_border {
    border-bottom: 1px solid #494949;
}

.footblk {
    padding: 15px 0 15px;
    color: #a7a7a7;
    font-size: 12px;
    text-decoration: none;
    line-height: 17px;
}

.footblk a:hover {
    text-decoration: underline;
}


a#active {
    color: #3ba;
}

.socialli{
    display: inline-block;
    margin: auto 0;
    text-transform: uppercase;
    text-decoration: none;
}

