ignoreFile.txt
Blog1/Blog1/Blog1/bin/
Blog1/Blog1/Blog1/obj/
Blog1/Blog1.v11.suo
Blog1/App_Data/HomeDB.mdf
TitleTurtle/TitleTurtle.v12.suo
TitleTurtle/TitleTurtle.v12.suo
TitleTurtle/TitleTurtle.v12.suo
TitleTurtle/TitleTurtle/App_Data/aspnet-TitleTurtle-20140718124954.mdf
TitleTurtle/TitleTurtle/App_Data/aspnet-TitleTurtle-20140718124954_log.ldf
TitleTurtle/TitleTurtle/App_Data/WebBlog111.mdf
TitleTurtle/TitleTurtle/App_Data/WebBlog111_log.ldf
TitleTurtle/TitleTurtle/bin/TitleTurtle.dll
TitleTurtle/TitleTurtle/bin/TitleTurtle.pdb
TitleTurtle/TitleTurtle/obj/Debug/TitleTurtle.csproj.FileListAbsolute.txt
TitleTurtle/TitleTurtle/obj/Debug/TitleTurtle.dll
TitleTurtle/TitleTurtle/obj/Debug/TitleTurtle.pdb
TitleTurtle/TitleTurtle/obj/Debug/TitleTurtle.csproj.GenerateResource.Cache
TitleTurtle/TitleTurtle.v12.suo
TitleTurtle/TitleTurtle/obj/Debug/TitleTurtle.pdb