@model Blog1.Models.Article

@{
    ViewBag.Title = "CreateArticle";
}

<h2>Создание новой статьи</h2>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<body class ="main">
    @using (Html.BeginForm("CreateArticle","Home"))
    {        
        <div style="margin:0 auto">
        Название: @Html.TextBoxFor(model => model.ArticleTitle, new {@class="form-control", @style="margin: 0 auto;"})
        @Html.HiddenFor(model => model.ArticleID)
        <br>
        Cодержимое: @Html.TextAreaFor(model => model.ArticleText, new {@class="form-control", @style="min-height:200px;margin: 0 auto;"})
        <br>
        <input type="submit" value="Сохранить" class="btn"/>
    </div>
    }
</body>