@model Blog1.Models.Category
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<h2>Создание новой категории</h2>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<body class ="main">
    @using (Html.BeginForm("CreateCategory","Home"))
    {        
        <div style="margin:0 auto">
        Название: @Html.TextBoxFor(model => model.CategoryName, new {@class="form-control", @style="margin: 0 auto;"})
        <br>
        Описание: @Html.TextAreaFor(model => model.CategoryDescription, new {@class="form-control", @style="min-height:200px;margin: 0 auto;"})
        <br>
        <input type="submit" value="Сохранить" class="btn"/>
    </div>
    }
</body>