
@{
    ViewBag.Title = "Index";
}

<h2>Главная</h2>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<p>
    @Html.ActionLink("Create New", "CreateArticle", "Home")
</p>
<div class="list-group-item">
</div>

