@model Blog1.Models.Article

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>
<head>
<title>@Model.ArticleTitle</title>
</head>
<body>
    @using (Html.BeginForm("Show", "Home"))
    {        
        <div class="main">
            <h2>@Html.DisplayFor(model => model.ArticleTitle)</h2>
            @Html.HiddenFor(model => model.ArticleID)
            @Html.DisplayFor(model => model.ArticleText)<br>
        </div>
    }