<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBTest.Properties.Settings.HomeContext" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=HomeDB;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\HomeDB.mdf"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>