@{
    ViewBag.Title = "Спасибо за сообщение";
}
<h3>
    Спасибо за сообщение
</h3>
<p>
    Ваше сообщение успешно отправлено. Администрация сайта при необходимости обязательно
    свяжется с Вами.
</p>