@{
    ViewBag.Title = "Feedback";
}
<div class="row">
    <div class="col-md-12">
        <h1>Отправлено!</h1>
        <div class="alert alert-success" role="alert">
            <p>
                <strong>Ваше сообщение успешно отправлено!</strong> Администрация сайта при необходимости обязательно
                свяжется с Вами.
            </p>
        </div>
        
        <img src="/Images/tittle_turtle-01.svg" alt="" />
    </div>
</div>