<div id="bod">
    <div id="manage2">
        @model TitleTurtle.Models.Main
        @{
            ViewBag.Title = "My Articles";
            Layout = "~/Views/Shared/_Layout.cshtml";
        }

        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <div id="MyArticle">
            <img id="img_article" src="~/Images/my.png" />
            <div class="Article">Мои статьи</div>
        </div>
        
            @foreach (var item in Model.ArticleList)
{
    <div class="item">
        @item.ArticleTitle
        <a href="@Url.Action("DeleteArticle", "Home", new { id = item.ArticleID })">d</a>
        <a href="@Url.Action("EditArticle", "Home", new { id = item.ArticleID })">e</a>
        <a href="@Url.Action("ShowArticle", "Home", new { id = item.ArticleID })">s</a>
    </div>
}
        
    </div>
</div>

