@model TitleTurtle.Models.Article

@{
    ViewBag.Title = "Show";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<head>
    <title>@Model.ArticleTitle</title>
</head>
<body>
    @using (Html.BeginForm("ShowArticle", "Home"))
    {        
        <div class="main">
            <h2>@Html.DisplayFor(model => model.ArticleTitle)</h2>
            @Html.HiddenFor(model => model.ArticleID)
            @Html.DisplayFor(model => model.ArticleText)<br>
        </div>
    }
</body>
