@if (Request.IsAuthenticated)
{
    <text>
    <li><a href=@Url.Action("ShowUser", "Account", new { id = WebSecurity.GetUserId(User.Identity.Name) })>@User.Identity.Name</a></li>
   <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
    </text>
     using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = ""}))
     {
        @Html.AntiForgeryToken()
     }
}


else
{
    <li><a href="/Account/Register" id="registerLink">Регистрация</a></li>
    <li><a href="/Account/Login" id="loginLink">Войти</a></li>
}
