@if (Request.IsAuthenticated) {
        <text>
            !@Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "navli", title = "Manage" })
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                @Html.AntiForgeryToken()
                <li id="Exit"><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
        }
        </text>
        }
else
{
    <li class="navli">@Html.ActionLink("Регистрация", "Register", "Account", null, new { id = "registerLink"})</li>
    <li class="navli">@Html.ActionLink("Войти", "Login", "Account", null, new { id = "loginLink"})</li>
}
