@model IEnumerable<TitleTurtle.Models.User>

@{
    ViewBag.Title = "AllUsers";
}

<h2>AllUsers</h2>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserFirstName)
            </td>
            <td>
               
            </td>
            <td>
                @Html.ActionLink("Сделать автором", "MakeAuthor", new { userName = item.UserFirstName })
                @Html.ActionLink("Сделать администратором", "MakeAdmin", new { userName = item.UserFirstName })
                @Html.ActionLink("Удалить", "DeleteUser", new { userName = item.UserFirstName })
            </td>
        </tr>
    }

</table>
